
#
*~
# Binaries for programs and plugins
# Code coverage profiles and other test artifacts
coverage.*
*.coverprofile
# Dependency directories (remove the comment below to include it)
*.dll
*.dylib
# Editor/IDE
.env
# env file
*.exe
*.exe~
go.work
# Go workspace file
go.work.sum
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# .idea/
# If you prefer the allow list template instead of the deny list, see community template:
*.log
logs/
# Logs
*.out
profile.cov
*.so
*.swo
*.swp
temp/
# Temporary files
*.test
# Test binary, built with `go test -c`
tmp/
# vendor/
# .vscode/
