[Unit]
Description=Assistant API Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/assistant/assistant
KillMode=process
WorkingDirectory=/home/shiyi/.config/assistant
Restart=always
RestartSec=5
Environment=DISPLAY=:0
EnvironmentFile=%h/.config/assistant/.env

[Install]
WantedBy=default.target
